name: deploy the frontend

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Docker/Dockerfile.frontend
          push: true
          tags: yuvi062006/week-27-2-frontend:${{ github.sha }}

      - run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
          chmod 600 ~/ssh_key
          ssh -i ~/ssh_key ubuntu@3.109.2.89 "
            docker stop user_frontend || true
            docker rm user_frontend || true
            docker run -d --name user_frontend -p 3000:3000 yuvi062006/frontend:${{ github.sha }} "