name: deploy the websocket

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Docker/Dockerfile.websocket
          push: true
          tags: yuvi062006/week-27-2-websocket:${{ github.sha }}
      - run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
          mkdir -p /home/runner/.ssh
          chmod 600 /home/runner/ssh_key        
          ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@3.109.2.89 -t "
          sudo docker stop user_websocket || true 
          sudo docker rm user_websocket || true 
          sudo docker run --name user_websocket -d -p 8081:8081 -e DATABASE_URL='${{ secrets.DATABASE_URL }}' yuvi062006/week-27-2-websocket:${{ github.sha }}"